@model FlightApp.Models.Payment

@{
    ViewData["Title"] = "Create";
}

<h4>Ödemeyi Tamamla</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CardNo" class="control-label"></label>
                <input asp-for="CardNo" class="form-control" />
                <span asp-validation-for="CardNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardDate" class="control-label"></label>
                <input asp-for="CardDate" class="form-control" />
                <span asp-validation-for="CardDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CVV" class="control-label"></label>
                <input asp-for="CVV" class="form-control" />
                <span asp-validation-for="CVV" class="text-danger"></span>
            </div>
            <br />
            <div>
                <table>
                    <tr>
                        <td>
                            <input type="submit" value="kaydet" class="btn btn-primary" />
                            
                        </td>
                    </tr>


                </table>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
